---
layout: default
---
<section class="description">
  <div class="row">
    <div class="jumbotron">
      <p>{{site.description}}</p>
      {% if site.data.install.latest %}
        <p><a class="btn btn-primary btn-lg" href="{{site.data.install.latest}}"  id="install-latest" role="button">Install Latest Build</a></p>
      {% endif %}
    </div>
  </div>
</section>
{% if site.data.features %}
  <section class="features">
    <div class="features-title">
      <h4>Features.</h4>
      <p class="lead">Built on top of great technology.</p>
    </div>
    {% assign features_length = site.data.features | size %}
    {% assign col_size = 12 | divided_by: features_length | round %}
    <div class="row text-center">
      {% for feature in site.data.features %}
        <div class="col-sm-{{ col_size }}">
          <i class="fa fa-{{ feature.icon }} fa-3x fa-fw"></i>
          <h4>{{ feature.title }}</h4>
          <p>{{ feature.description }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
  <hr>
{% endif %}
<section class="motto">
  <div class="text-center">
    <h4>A Library for fast development and maintenance of structured templates, layouts and assets.</h4>
  </div>
</section>
<hr>
<section class="examples">
  <div class="row text-center">
    <h4>Templates</h4>
    <p>Here are quick start points for you to kick off your next project.</p>
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color:white;" role="tab" id="headingOne">
            <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Bootstrap <span class="caret"></span>
            </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contribute">
  <div class="row well text-center">
    <h4>Contribute</h4>
    <p>We love when developers join the project, check how you can help.</p>
    <div class="btn-group btn-group-lg" role="group" aria-label="Contribute button group">
      <button type="button" class="btn btn-default"><i class="fa fa-github"></i> Open an issue</button>
      <button type="button" class="btn btn-default">Submit theme</button>
    </div>
  </div>
</section>