.jumbotron {
    margin-top:-20px;
    padding-bottom: 30px;
}

.jumbotron.hero{
    padding-top: 120px;
    text-align: center;

} 

.container .jumbotron, .container-fluid .jumbotron 
{
	border-radius: 0;
}

a.btn#install-latest{
	border-color: white;
}